{% extends 'base.html' %}
{% block content %}

<style>

</style>
<html>
    <head>
        {%load static %}
        <link ref="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous">
    </head>
    <body>
        <div class="container mb-3" >
            <div class="row">
                <div style="display: flex; justify-content: center;" >
                    <div class="card" style="width: 35%; height: 75%; margin-top: 20%; background-color: #050d21; color: white; ">
                        <div class="card-body">
                            <h1>Editar servicio</h2>
                            <form action="/edit_service" method="POST" enctype="multipart/form-data">
                                {% csrf_token %} 
                                <input id="id" name="id" readonly value="{{ service.id }}" hidden></input> 
                                <br>
                                <div class="row">
                                    <div class="col-3" >
                                        <label for="category" value="{{ service.category }}" >Categoría:</label>
                                    </div>
                                    <div class="col-9">
                                        <select name="category" id="category" class="form-select">
                                          <option value="Limpieza">Limpieza</option>
                                          <option value="Manufactura">Manufactura</option>
                                          <option value="Automotriz">Automotriz</option>
                                          <option value="Cuidado_de_hogar">Cuidado de hogar</option>
                                          <option value="Cuidado_de_mascotas">Cuidado de mascotas</option>
                                        </select>
                                    </div>                                   
                                </div>   
                                <br>               
                                <br>                 
                                <div class="row">
                                    <div class="col-3" >
                                        <label for="title" class=" col-form-label">Título:</label>
                                    </div>
                                    <div class="col-9">
                                        <input type="text" name="title"  value="{{ service.title }}" id="title" class="form-control">
                                    </div>
                                </div>                
                                <br>
                                <label for="description" class=" col-form-label">Descripción:</label>                                
                                <textarea name="description"  id="description" class="form-control">{{ service.description }}</textarea>                               
                                <br>
                                <label for="imagen" class=" col-form-label">Imagen:</label>
                                <div class="col-sm-10">
                                    <input type="file" name="images" id="images" class="form-control">
                                </div>
                                <br></br>
                                <div style="display: flex; justify-content: center;">
                                    <button type="submit" class="btn btn-success" id="create-service" style="background-color: #477eff;" >Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}