<!DOCTYPE html>
<html>

<head>
    {%load static %}
    <link ref="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
        crossorigin="anonymous">
</head>

<body>
    <div class="container mb-3">
        <div class="row">
            <div>
                <div class="card" style="display: flex; text-align: center;">
                    <div class="card-body">
                        <h1>Worktions</h1>
                        <button type="button" class="btn btn-success"><a href="register" style="color: white;">Registro</a></button>
                        <button type="button" class="btn btn-success"><a href="accounts/login" style="color: white;">Iniciar sesión</a></button>
                        <button type="button" class="btn btn-success"><a href="post-service" style="color: white;">Ingresar Servicio</a></button>
                        <button type="button" class="btn btn-success"><a href="profile" style="color: white;">Perfil</a></button>
                    <br>
                    <br>
                    <div style=" display: flex; align-items: center; justify-content: center;">
                        <form action="">
                            <div class="mb-3">
                                <label for="searchService" class="form-label">
                                    Buscar un servicio:
                                </label>
                                <input type="text" class="form-control" name="searchService" />
                            </div>
                            <button type="submit" class="btn btn-primary" >Search</button>
                        </form>
                    </div>

                    <div >
                        <br>
                        <p>Buscando  {{ searchTerm }} </p>
                        <br>
                        <div class="row row-cols-1 row-cols-md-3 g-4" style=" align-items: center; justify-content: center;">
                            {% for service in services %}
                            <div v-for="service in services" class="col">
                                <div class="card">
                                    <img class="card-img-top" src="{{service.images.url}}" />
                                    <br>
                                    <h5>{{service.title}}</h5>
                                    <p>{{service.description}}</p>
                                    <h6>{{service.user_id}}</h6>
                                    <h7 style="color: grey";>{{service.category}}</h7> 
                                    <button type="button" class="btn btn-success"><a href="{% url 'service-detail' service.id %}" style="color: white;">Detalle</a></button>                       
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        </div>
                        <!-- <p>Has visitado esta página {{ num_visits }}</p> -->
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
             
</body>

</html>