{% extends "base.html" %}
<!DOCTYPE html>
<html>

<head>
    {%load static %}
    <link ref="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
        crossorigin="anonymous">
</head>


{% block content %}
<body>
    
    
    <div class="container mb-3">
        <div class="row">
            <div>
                <div class="card" style="display: flex; text-align: center;">
                    <div class="card-body">
                    <br>
                    <br>
                    <br>
                    <br>                       
                    <br>
                    <br>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <div style="width: 40%;">
                            <form action="">
                                <div class="mb-3">
                                    <label for="searchService" class="form-label">
                                        Buscar un servicio:
                                    </label>
                                    <input type="text" class="form-control" name="searchService" />
                                </div>
                                <button type="submit" class="btn" style="background-color: #050d21; color: white;">Search</button>
                            </form>
                        </div>                 
                    </div>
                    <div >
                        <br>
                        <p>Buscando  {{ searchTerm }} </p>
                        <br> 
                        <div class="row">
                            {% for service in services %}
                                <div class="col-md-4">
                                    <div class="card" >
                                        <img src="{{service.images.url}}" style="height:100%; width: 100%;"/>
                                        <br>
                                        <h5>{{service.title}}</h5>
                                        <p>{{service.description}}</p>
                                        <h6>{{service.user}}</h6>
                                        <h7 style="color: grey";>{{service.category}}</h7> 
                                        <button type="button" class="btn" style="background-color: #477eff; color: white;"><a href="{% url 'service_detail' service.id %}" style="color: white;">Detalle</a></button>                       
                                    </div>  
                                    <br>
                                    <br>                              
                                </div>
                            {% if forloop.counter|divisibleby:"3" and not forloop.last %}
                              </div><div class="row">
                            {% endif %}
                          {% endfor %}
                        </div>                     
                        <br>
                        <br>
                        <br>                        
                    </div>
                        <br />
                        <br />
               
            </div>
        </div>
    </div>
             
</body>
{% endblock %}

</html>